body {
    background: black;
}

@font-face {
    font-family: 'bloody'; 
    src: url('/youmurdererbb_reg.otf'); 
}

.header {
    text-align: center;
    font-family: 'bloody';
    color: red;
    font-size: 200px;
}

.logo {  
    margin-left: auto;
    margin-right: auto;    
    height: 400px;
    width: 500px;
    content: url("/Astelium.jpg")
}

.main-menu {
    display: flex;
}

button {
    padding: 10px;
    border: none;
    background: black;    
    font-family: 'bloody';
    color: red;
    font-size: 70px;
}

.action-item {
    text-align: center;
}
