body {
    background: black;
    height: 100%;
    width: 100%;
}

#renderTarget {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: bloody; 
    src: url(/youmurdererbb_reg.otf); 
}

.ast-header {
    text-align: center;
    font-family: bloody;
    color: red;
    font-size: 200px;
}

.ast-logo {  
    margin-left: auto;
    margin-right: auto;    
    height: 400px;
    width: 500px;
    content: url(/Astelium.jpg) 
}

button {
    padding: 10px;
    border: none;
    background: black;    
    font-family: bloody;
    color: red;
    font-size: 70px;
}

.action-item {
    text-align: center;
}

#ast-layout {
    position: fixed;
    height: 100%;
    width: 100%;    
}

#ast-player-1 {       
    z-index: 9999;
    position: absolute; 
    content: url(/cthulhu.gif);
    width: 5%;
}

#ast-player-2 {       
    z-index: 9999;
    position: absolute; 
    content: url(/cthulhu.gif);
    width: 5%;
}

#ast-advicer {
    position: absolute; 
    content: url(/advicer.gif);
    width: 10%;
}